.big-icon {
    text-align: center;

    background-image: url("/img/big-icon.png");
    background-repeat: no-repeat;

    background-position: 0 0;
    background-size: 100% 100%;

    width: 2ex;
    height: 2ex;
}
