.big-icon {
    text-align: center;

    background-image: url("/img/big-icon.png");
    background-repeat: no-repeat;

    background-position: 0 0;
    background-size: 100% 100%;

    padding: 5px;

    width: calc(2ex + 10px);
    height: calc(2ex + 10px);
}
